#visualizarCarrito {
    display:block;
    background-color: #e7e3e3;
    font-family: $fuentePpal;
    color: $gris;
    border-radius: 5px;
    margin-top: 10px;
    h3 {
        padding: 10px;
        font-weight: bold;
        font-size: 24px;
        margin-bottom: 20px;
    }
    p {
        margin: 0;
        padding: 0;
        padding-left: 10px;
        text-align: left;
        text-transform: capitalize;
        font-size: 16px;
    }
    #carrito {
        p {
            @extend p;
            .cardTitle {
                font-weight: bold;
            }
        }
    }
    #verCarrito {
        display: none;
        
        a {
            font-weight: bold;
            margin: 5px;
        }
        a:hover {
            color:rgb(241, 135, 135);
            transform: scale(1.05);
        }
    }
    
}

@for $i from 1 through 16 {
    #refreshStock-#{$i} { 
       display: none;
    }
  }
  