#verCarrito {

}

#visualizarCarrito {
    display:block;
    background-color: #e7e3e3;
    font-family: $fuentePpal;
    color: $gris;
    h3 {
        padding: 10px;
        font-weight: bold;
        font-size: 24px;
        margin-bottom: 20px;
    }
    p {
        margin: 0;
        padding: 0;
        padding-left: 10px;
        text-align: left;
        text-transform: capitalize;
        font-size: 16px;
    }
    #carrito {
        p {
            @extend p;
            .cardTitle {
                font-weight: bold;
            }
        }
    }
}

@for $i from 1 through 16 {
    #refreshStock-#{$i} { 
       display: none;
    }
  }
  