



.sitemap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 60px;
    margin-bottom: 60px;
    .sitemapPage {
        div {
            font-size: 20px;
            font-weight: bold;
        }
        ul li a {
            color: $gris;
        }
        ul li:hover a {
            color:  rgb(247, 173, 173);
        }
    }
}
